In [1]:
###
import chart_studio.plotly as py
import plotly.graph_objs as go
import plotly as plotly
import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import SMOTENC
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
import types
import pandas as pd
def __iter__(self): return 0

In [2]:
import pandas as pd

train_data=pd.read_table("PM_train.txt", sep=" ", header=None)
test_data=pd.read_table("PM_test.txt", sep=" ", header=None)
truth_data=pd.read_excel("Test.xlsx", index_col=0)

In [3]:
print("train_data_contains: "+str(len(train_data))+" row and "+str(len(train_data.columns))+" columns")
print("test_data_contains: "+str(len(test_data))+" row and "+str(len(test_data.columns))+" columns")
print("truth_data_contains: "+str(len(truth_data))+" row and "+str(len(truth_data.columns))+" columns")

train_data_contains: 20631 row and 28 columns
test_data_contains: 13096 row and 28 columns
truth_data_contains: 100 row and 0 columns

In [4]:
print("first_6_row_of_train_data")
display(train_data.head(6))
print("first_6_row_of_test_data")
display(test_data.head(6))
print("first_6_row_of_truth_data")
display(test_data.head(6))

first_6_row_of_train_data

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,NaN,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,NaN,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,NaN,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,NaN,NaN
5,1,6,-0.0043,-0.0001,100.0,518.67,642.10,1584.47,1398.37,14.62,...,8132.85,8.4108,0.03,391,2388,100.0,38.98,23.3669,NaN,NaN

first_6_row_of_test_data

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,NaN,NaN
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,NaN,NaN
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,NaN,NaN
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,NaN,NaN
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,NaN,NaN
5,1,6,0.0012,0.0003,100.0,518.67,642.11,1579.12,1395.13,14.62,...,8127.46,8.4238,0.03,392,2388,100.0,38.91,23.3467,NaN,NaN

first_6_row_of_truth_data

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,NaN,NaN
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,NaN,NaN
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,NaN,NaN
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,NaN,NaN
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,NaN,NaN
5,1,6,0.0012,0.0003,100.0,518.67,642.11,1579.12,1395.13,14.62,...,8127.46,8.4238,0.03,392,2388,100.0,38.91,23.3467,NaN,NaN

In [5]:
# Subtract previous row value from the current row value in a Pandas column

train_data[26]=train_data[0] - train_data[0].shift(1)
test_data[26]=test_data[0] - test_data[0].shift(1)

In [6]:
print("failure_point_of_train_data")
display(train_data.head(196))
print("failure_point_of_test_data")
display(test_data.tail(199))

failure_point_of_train_data

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,0.0,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,0.0,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,0.0,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,1,192,0.0009,-0.0000,100.0,518.67,643.54,1601.41,1427.20,14.62,...,8110.93,8.5113,0.03,396,2388,100.0,38.48,22.9649,0.0,NaN
192,2,1,-0.0018,0.0006,100.0,518.67,641.89,1583.84,1391.28,14.62,...,8137.72,8.3905,0.03,391,2388,100.0,38.94,23.4585,1.0,NaN
193,2,2,0.0043,-0.0003,100.0,518.67,641.82,1587.05,1393.13,14.62,...,8131.09,8.4167,0.03,392,2388,100.0,39.06,23.4085,0.0,NaN
194,2,3,0.0018,0.0003,100.0,518.67,641.55,1588.32,1398.96,14.62,...,8140.58,8.3802,0.03,391,2388,100.0,39.11,23.4250,0.0,NaN
195,2,4,0.0035,-0.0004,100.0,518.67,641.68,1584.15,1396.08,14.62,...,8140.44,8.4018,0.03,391,2388,100.0,39.13,23.5027,0.0,NaN

failure_point_of_test_data

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
12897,99,97,0.0047,-0.0000,100.0,518.67,642.00,1585.03,1397.98,14.62,...,8150.38,8.4003,0.03,391,2388,100.0,38.95,23.3595,0.0,NaN
12898,100,1,0.0014,0.0003,100.0,518.67,641.65,1591.50,1401.63,14.62,...,8138.54,8.4067,0.03,391,2388,100.0,39.01,23.3087,1.0,NaN
12899,100,2,0.0031,0.0001,100.0,518.67,642.20,1588.99,1402.05,14.62,...,8137.35,8.4291,0.03,393,2388,100.0,38.97,23.3510,0.0,NaN
12900,100,3,-0.0000,0.0001,100.0,518.67,642.27,1587.47,1396.74,14.62,...,8134.63,8.4039,0.03,392,2388,100.0,39.14,23.3636,0.0,NaN
12901,100,4,0.0011,0.0001,100.0,518.67,642.07,1579.17,1401.93,14.62,...,8139.06,8.4057,0.03,393,2388,100.0,39.04,23.3925,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13091,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974,0.0,NaN
13092,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771,0.0,NaN
13093,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051,0.0,NaN
13094,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699,0.0,NaN
13095,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855,0.0,NaN

In [7]:
train_data.rename(columns={0: 'asset_id', 1: 'run_time'}, inplace=True)
train_data.rename(columns={2: 'setting_1', 3: 'setting_2', 4: 'setting_3'}, inplace=True)
train_data.rename(columns={5: 's_1', 6: 's_2', 7: 's_3', 8: 's_4', 9: 's_5', 10: 's_6', 
                           11: 's_7', 12: 's_8', 13: 's_9', 14: 's_10', 15: 's_11', 16: 's_12', 
                           17: 's_13', 18: 's_14', 19: 's_15', 20: 's_16', 21: 's_17', 22: 's_18', 
                           23: 's_19', 24: 's_20', 25: 's_21', 26: 'failure'}, inplace=True)

test_data.rename(columns={0: 'asset_id', 1: 'run_time'}, inplace=True)
test_data.rename(columns={2: 'setting_1', 3: 'setting_2', 4: 'setting_3'}, inplace=True)
test_data.rename(columns={5: 's_1', 6: 's_2', 7: 's_3', 8: 's_4', 9: 's_5', 10: 's_6', 
                           11: 's_7', 12: 's_8', 13: 's_9', 14: 's_10', 15: 's_11', 16: 's_12', 
                           17: 's_13', 18: 's_14', 19: 's_15', 20: 's_16', 21: 's_17', 22: 's_18', 
                           23: 's_19', 24: 's_20', 25: 's_21', 26: 'failure'}, inplace=True)

In [8]:
print("failure_point_of_train_data")
display(train_data.head(196))
print("failure_point_of_test_data")
display(test_data.tail(199))

failure_point_of_train_data

,asset_id,run_time,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,failure,27
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,0.0,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,0.0,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,0.0,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,1,192,0.0009,-0.0000,100.0,518.67,643.54,1601.41,1427.20,14.62,...,8110.93,8.5113,0.03,396,2388,100.0,38.48,22.9649,0.0,NaN
192,2,1,-0.0018,0.0006,100.0,518.67,641.89,1583.84,1391.28,14.62,...,8137.72,8.3905,0.03,391,2388,100.0,38.94,23.4585,1.0,NaN
193,2,2,0.0043,-0.0003,100.0,518.67,641.82,1587.05,1393.13,14.62,...,8131.09,8.4167,0.03,392,2388,100.0,39.06,23.4085,0.0,NaN
194,2,3,0.0018,0.0003,100.0,518.67,641.55,1588.32,1398.96,14.62,...,8140.58,8.3802,0.03,391,2388,100.0,39.11,23.4250,0.0,NaN
195,2,4,0.0035,-0.0004,100.0,518.67,641.68,1584.15,1396.08,14.62,...,8140.44,8.4018,0.03,391,2388,100.0,39.13,23.5027,0.0,NaN

failure_point_of_test_data

,asset_id,run_time,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,failure,27
12897,99,97,0.0047,-0.0000,100.0,518.67,642.00,1585.03,1397.98,14.62,...,8150.38,8.4003,0.03,391,2388,100.0,38.95,23.3595,0.0,NaN
12898,100,1,0.0014,0.0003,100.0,518.67,641.65,1591.50,1401.63,14.62,...,8138.54,8.4067,0.03,391,2388,100.0,39.01,23.3087,1.0,NaN
12899,100,2,0.0031,0.0001,100.0,518.67,642.20,1588.99,1402.05,14.62,...,8137.35,8.4291,0.03,393,2388,100.0,38.97,23.3510,0.0,NaN
12900,100,3,-0.0000,0.0001,100.0,518.67,642.27,1587.47,1396.74,14.62,...,8134.63,8.4039,0.03,392,2388,100.0,39.14,23.3636,0.0,NaN
12901,100,4,0.0011,0.0001,100.0,518.67,642.07,1579.17,1401.93,14.62,...,8139.06,8.4057,0.03,393,2388,100.0,39.04,23.3925,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13091,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974,0.0,NaN
13092,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771,0.0,NaN
13093,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051,0.0,NaN
13094,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699,0.0,NaN
13095,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855,0.0,NaN

In [9]:
train_data.describe()

,asset_id,run_time,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,failure,27
count,20631.000000,20631.000000,20631.000000,20631.000000,20631.0,20631.00,20631.000000,20631.000000,20631.000000,2.063100e+04,...,20631.000000,20631.000000,2.063100e+04,20631.000000,20631.0,20631.0,20631.000000,20631.000000,20630.000000,0.0
mean,51.506568,108.807862,-0.000009,0.000002,100.0,518.67,642.680934,1590.523119,1408.933782,1.462000e+01,...,8143.752722,8.442146,3.000000e-02,393.210654,2388.0,100.0,38.816271,23.289705,0.004799,NaN
std,29.227633,68.880990,0.002187,0.000293,0.0,0.00,0.500053,6.131150,9.000605,1.776400e-15,...,19.076176,0.037505,1.387812e-17,1.548763,0.0,0.0,0.180746,0.108251,0.069109,NaN
min,1.000000,1.000000,-0.008700,-0.000600,100.0,518.67,641.210000,1571.040000,1382.250000,1.462000e+01,...,8099.940000,8.324900,3.000000e-02,388.000000,2388.0,100.0,38.140000,22.894200,0.000000,NaN
25%,26.000000,52.000000,-0.001500,-0.000200,100.0,518.67,642.325000,1586.260000,1402.360000,1.462000e+01,...,8133.245000,8.414900,3.000000e-02,392.000000,2388.0,100.0,38.700000,23.221800,0.000000,NaN
50%,52.000000,104.000000,0.000000,0.000000,100.0,518.67,642.640000,1590.100000,1408.040000,1.462000e+01,...,8140.540000,8.438900,3.000000e-02,393.000000,2388.0,100.0,38.830000,23.297900,0.000000,NaN
75%,77.000000,156.000000,0.001500,0.000300,100.0,518.67,643.000000,1594.380000,1414.555000,1.462000e+01,...,8148.310000,8.465600,3.000000e-02,394.000000,2388.0,100.0,38.950000,23.366800,0.000000,NaN
max,100.000000,362.000000,0.008700,0.000600,100.0,518.67,644.530000,1616.910000,1441.490000,1.462000e+01,...,8293.720000,8.584800,3.000000e-02,400.000000,2388.0,100.0,39.430000,23.618400,1.000000,NaN

In [10]:
failure=train_data.groupby(['failure'])['failure'].count()

failure

failure
0.0    20531
1.0       99
Name: failure, dtype: int64

In [11]:
# train_data.drop(['s_1','s_5','s_6','s_10','s_16','s_18','s_19'], axis = 1)

In [12]:
# train_data['s_2']=pd.cut(train_data['s_2'],7)
# train_data['s_2']=pd.qcut(train_data['s_2'],7,labels=["<1.684","<2.159","<2.633","<3.107","<3.581","<4.056","<4.530"])

#train_data['s_2']=pd.cut(train_data['s_2'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_2')['s_2'].count()

In [13]:
#train_data['s_3']=pd.cut(train_data['s_3'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_3')['s_3'].count()

In [14]:
#train_data['s_4']=pd.cut(train_data['s_4'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_4')['s_4'].count()

In [15]:
#train_data['s_7']=pd.cut(train_data['s_7'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_7')['s_7'].count()

In [16]:
#train_data['s_8']=pd.cut(train_data['s_8'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_8')['s_8'].count()

In [17]:
#train_data['s_9']=pd.cut(train_data['s_9'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_9')['s_9'].count()

In [18]:
#train_data['s_11']=pd.cut(train_data['s_11'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_11')['s_11'].count()

In [19]:
#train_data['s_12']=pd.cut(train_data['s_12'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_12')['s_12'].count()

In [20]:
#train_data['s_13']=pd.cut(train_data['s_13'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_13')['s_13'].count()

In [21]:
#train_data['s_14']=pd.cut(train_data['s_14'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_14')['s_14'].count()

In [22]:
#train_data['s_15']=pd.cut(train_data['s_15'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_15')['s_15'].count()

In [23]:
#train_data['s_17']=pd.cut(train_data['s_17'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_17')['s_17'].count()

In [24]:
#train_data['s_20']=pd.cut(train_data['s_20'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_20')['s_20'].count()

In [25]:
#train_data['s_21']=pd.cut(train_data['s_21'],5,labels=["1","2","3","4","5"])

#train_data.groupby('s_21')['s_21'].count()

In [26]:
#train_data.head(10)

In [27]:
#Subtract values from maximum value within groups
train_data[27]=train_data.groupby('asset_id').run_time.transform('max') - train_data.run_time

#
train_data["failure"].fillna(0.0, inplace = True)

train_data.rename(columns={27: 'remain_cycle'}, inplace=True)

In [28]:
train_data.head(196)

,asset_id,run_time,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,failure,remain_cycle
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,0.0,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,0.0,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,0.0,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,0.0,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,0.0,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,1,192,0.0009,-0.0000,100.0,518.67,643.54,1601.41,1427.20,14.62,...,8110.93,8.5113,0.03,396,2388,100.0,38.48,22.9649,0.0,0
192,2,1,-0.0018,0.0006,100.0,518.67,641.89,1583.84,1391.28,14.62,...,8137.72,8.3905,0.03,391,2388,100.0,38.94,23.4585,1.0,286
193,2,2,0.0043,-0.0003,100.0,518.67,641.82,1587.05,1393.13,14.62,...,8131.09,8.4167,0.03,392,2388,100.0,39.06,23.4085,0.0,285
194,2,3,0.0018,0.0003,100.0,518.67,641.55,1588.32,1398.96,14.62,...,8140.58,8.3802,0.03,391,2388,100.0,39.11,23.4250,0.0,284
195,2,4,0.0035,-0.0004,100.0,518.67,641.68,1584.15,1396.08,14.62,...,8140.44,8.4018,0.03,391,2388,100.0,39.13,23.5027,0.0,283

In [29]:
train_data['coming'] = np.where(((train_data.remain_cycle < 21) & ((train_data.remain_cycle>=0))), 1, 0)

tips_summed = train_data.groupby(['coming'])['s_4'].count()
tips_summed

coming
0    18531
1     2100
Name: s_4, dtype: int64

In [30]:
train_data['coming'].mean()

0.10178857059764432

In [31]:
train_data['failure'].mean()

0.004798604042460375

In [32]:
#train_data.groupby('s_2')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [33]:
#train_data.groupby('s_3')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [34]:
#train_data.groupby('s_4')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [35]:
#train_data.groupby('s_7')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [36]:
#train_data.groupby('s_8')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [37]:
#train_data.groupby('s_9')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [38]:
#train_data.groupby('s_11')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [39]:
#train_data.groupby('s_12')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [40]:
#train_data.groupby('s_13')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [41]:
#train_data.groupby('s_14')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [42]:
#train_data.groupby('s_15')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [43]:
#train_data.groupby('s_17')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [44]:
#train_data.groupby('s_20')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [45]:
#train_data.groupby('s_21')['coming'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [46]:
display(train_data.tail(199))

,asset_id,run_time,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_15,s_16,s_17,s_18,s_19,s_20,s_21,failure,remain_cycle,coming
20432,100,2,0.0010,-0.0004,100.0,518.67,642.37,1589.43,1397.40,14.62,...,8.4186,0.03,393,2388,100.0,39.18,23.2460,0.0,198,0
20433,100,3,0.0024,-0.0004,100.0,518.67,643.13,1588.55,1397.71,14.62,...,8.4391,0.03,393,2388,100.0,38.95,23.2034,0.0,197,0
20434,100,4,0.0014,0.0001,100.0,518.67,642.33,1588.13,1397.93,14.62,...,8.4274,0.03,393,2388,100.0,38.77,23.2495,0.0,196,0
20435,100,5,-0.0018,0.0003,100.0,518.67,641.90,1590.02,1400.60,14.62,...,8.3650,0.03,392,2388,100.0,39.06,23.2351,0.0,195,0
20436,100,6,-0.0013,-0.0004,100.0,518.67,642.19,1588.84,1403.20,14.62,...,8.4120,0.03,392,2388,100.0,38.91,23.5751,0.0,194,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,8.4956,0.03,397,2388,100.0,38.49,22.9735,0.0,4,1
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,8.5139,0.03,395,2388,100.0,38.30,23.1594,0.0,3,1
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,8.5646,0.03,398,2388,100.0,38.44,22.9333,0.0,2,1
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,8.5389,0.03,395,2388,100.0,38.29,23.0640,0.0,1,1
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,8.5036,0.03,396,2388,100.0,38.37,23.0522,0.0,0,1

In [47]:
import numpy as np
# Create a running mean, max, min, and median for the sensor variables

dfx=train_data

dfx['s_2_mean'] = np.where((train_data.coming == 0),(train_data['s_2'].rolling(min_periods=1, window=21).mean()) , train_data.s_2)
dfx['s_2_median'] = np.where((train_data.coming == 0),(train_data['s_2'].rolling(min_periods=1, window=21).median()) , train_data.s_2)
dfx['s_2_max'] = np.where((train_data.coming == 0),(train_data['s_2'].rolling(min_periods=1, window=21).max()) , train_data.s_2)
dfx['s_2_min'] = np.where((train_data.coming == 0),(train_data['s_2'].rolling(min_periods=1, window=21).min()) , train_data.s_2)

dfx['s_3_mean'] = np.where((train_data.coming == 0),(train_data['s_3'].rolling(min_periods=1, window=21).mean()) , train_data.s_3)
dfx['s_3_median'] = np.where((train_data.coming == 0),(train_data['s_3'].rolling(min_periods=1, window=21).median()) , train_data.s_3)
dfx['s_3_max'] = np.where((train_data.coming == 0),(train_data['s_3'].rolling(min_periods=1, window=21).max()) , train_data.s_3)
dfx['s_3_min'] = np.where((train_data.coming == 0),(train_data['s_3'].rolling(min_periods=1, window=21).min()) , train_data.s_3)

dfx['s_4_mean'] = np.where((train_data.coming == 0),(train_data['s_4'].rolling(min_periods=1, window=21).mean()) , train_data.s_4)
dfx['s_4_median'] = np.where((train_data.coming == 0),(train_data['s_4'].rolling(min_periods=1, window=21).median()) , train_data.s_4)
dfx['s_4_max'] = np.where((train_data.coming == 0),(train_data['s_4'].rolling(min_periods=1, window=21).max()) , train_data.s_4)
dfx['s_4_min'] = np.where((train_data.coming == 0),(train_data['s_4'].rolling(min_periods=1, window=21).min()) , train_data.s_4)

dfx['s_7_mean'] = np.where((train_data.coming == 0),(train_data['s_7'].rolling(min_periods=1, window=21).mean()) , train_data.s_7)
dfx['s_7_median'] = np.where((train_data.coming == 0),(train_data['s_7'].rolling(min_periods=1, window=21).median()) , train_data.s_7)
dfx['s_7_max'] = np.where((train_data.coming == 0),(train_data['s_7'].rolling(min_periods=1, window=21).max()) , train_data.s_7)
dfx['s_7_min'] = np.where((train_data.coming == 0),(train_data['s_7'].rolling(min_periods=1, window=21).min()) , train_data.s_7)

dfx['s_8_mean'] = np.where((train_data.coming == 0),(train_data['s_8'].rolling(min_periods=1, window=21).mean()) , train_data.s_8)
dfx['s_8_median'] = np.where((train_data.coming == 0),(train_data['s_8'].rolling(min_periods=1, window=21).median()) , train_data.s_8)
dfx['s_8_max'] = np.where((train_data.coming == 0),(train_data['s_8'].rolling(min_periods=1, window=21).max()) , train_data.s_8)
dfx['s_8_min'] = np.where((train_data.coming == 0),(train_data['s_8'].rolling(min_periods=1, window=21).min()) , train_data.s_8)

dfx['s_9_mean'] = np.where((train_data.coming == 0),(train_data['s_9'].rolling(min_periods=1, window=21).mean()) , train_data.s_9)
dfx['s_9_median'] = np.where((train_data.coming == 0),(train_data['s_9'].rolling(min_periods=1, window=21).median()) , train_data.s_9)
dfx['s_9_max'] = np.where((train_data.coming == 0),(train_data['s_9'].rolling(min_periods=1, window=21).max()) , train_data.s_9)
dfx['s_9_min'] = np.where((train_data.coming == 0),(train_data['s_9'].rolling(min_periods=1, window=21).min()) , train_data.s_9)

dfx['s_11_mean'] = np.where((train_data.coming == 0),(train_data['s_11'].rolling(min_periods=1, window=21).mean()) , train_data.s_11)
dfx['s_11_median'] = np.where((train_data.coming == 0),(train_data['s_11'].rolling(min_periods=1, window=21).median()) , train_data.s_11)
dfx['s_11_max'] = np.where((train_data.coming == 0),(train_data['s_11'].rolling(min_periods=1, window=21).max()) , train_data.s_11)
dfx['s_11_min'] = np.where((train_data.coming == 0),(train_data['s_11'].rolling(min_periods=1, window=21).min()) , train_data.s_11)

dfx['s_12_mean'] = np.where((train_data.coming == 0),(train_data['s_12'].rolling(min_periods=1, window=21).mean()) , train_data.s_12)
dfx['s_12_median'] = np.where((train_data.coming == 0),(train_data['s_12'].rolling(min_periods=1, window=21).median()) , train_data.s_12)
dfx['s_12_max'] = np.where((train_data.coming == 0),(train_data['s_12'].rolling(min_periods=1, window=21).max()) , train_data.s_12)
dfx['s_12_min'] = np.where((train_data.coming == 0),(train_data['s_12'].rolling(min_periods=1, window=21).min()) , train_data.s_12)

dfx['s_13_mean'] = np.where((train_data.coming == 0),(train_data['s_13'].rolling(min_periods=1, window=21).mean()) , train_data.s_13)
dfx['s_13_median'] = np.where((train_data.coming == 0),(train_data['s_13'].rolling(min_periods=1, window=21).median()) , train_data.s_13)
dfx['s_13_max'] = np.where((train_data.coming == 0),(train_data['s_13'].rolling(min_periods=1, window=21).max()) , train_data.s_13)
dfx['s_13_min'] = np.where((train_data.coming == 0),(train_data['s_13'].rolling(min_periods=1, window=21).min()) , train_data.s_13)

dfx['s_14_mean'] = np.where((train_data.coming == 0),(train_data['s_14'].rolling(min_periods=1, window=21).mean()) , train_data.s_14)
dfx['s_14_median'] = np.where((train_data.coming == 0),(train_data['s_14'].rolling(min_periods=1, window=21).median()) , train_data.s_14)
dfx['s_14_max'] = np.where((train_data.coming == 0),(train_data['s_14'].rolling(min_periods=1, window=21).max()) , train_data.s_14)
dfx['s_14_min'] = np.where((train_data.coming == 0),(train_data['s_14'].rolling(min_periods=1, window=21).min()) , train_data.s_14)

dfx['s_15_mean'] = np.where((train_data.coming == 0),(train_data['s_15'].rolling(min_periods=1, window=21).mean()) , train_data.s_15)
dfx['s_15_median'] = np.where((train_data.coming == 0),(train_data['s_15'].rolling(min_periods=1, window=21).median()) , train_data.s_15)
dfx['s_15_max'] = np.where((train_data.coming == 0),(train_data['s_15'].rolling(min_periods=1, window=21).max()) , train_data.s_15)
dfx['s_15_min'] = np.where((train_data.coming == 0),(train_data['s_15'].rolling(min_periods=1, window=21).min()) , train_data.s_15)

dfx['s_17_mean'] = np.where((train_data.coming == 0),(train_data['s_17'].rolling(min_periods=1, window=21).mean()) , train_data.s_17)
dfx['s_17_median'] = np.where((train_data.coming == 0),(train_data['s_17'].rolling(min_periods=1, window=21).median()) , train_data.s_17)
dfx['s_17_max'] = np.where((train_data.coming == 0),(train_data['s_17'].rolling(min_periods=1, window=21).max()) , train_data.s_17)
dfx['s_17_min'] = np.where((train_data.coming == 0),(train_data['s_17'].rolling(min_periods=1, window=21).min()) , train_data.s_17)

dfx['s_20_mean'] = np.where((train_data.coming == 0),(train_data['s_20'].rolling(min_periods=1, window=21).mean()) , train_data.s_20)
dfx['s_20_median'] = np.where((train_data.coming == 0),(train_data['s_20'].rolling(min_periods=1, window=21).median()) , train_data.s_20)
dfx['s_20_max'] = np.where((train_data.coming == 0),(train_data['s_20'].rolling(min_periods=1, window=21).max()) , train_data.s_20)
dfx['s_20_min'] = np.where((train_data.coming == 0),(train_data['s_20'].rolling(min_periods=1, window=21).min()) , train_data.s_20)

dfx['s_21_mean'] = np.where((train_data.coming == 0),(train_data['s_21'].rolling(min_periods=1, window=21).mean()) , train_data.s_21)
dfx['s_21_median'] = np.where((train_data.coming == 0),(train_data['s_21'].rolling(min_periods=1, window=21).median()) , train_data.s_21)
dfx['s_21_max'] = np.where((train_data.coming == 0),(train_data['s_21'].rolling(min_periods=1, window=21).max()) , train_data.s_21)
dfx['s_21_min'] = np.where((train_data.coming == 0),(train_data['s_21'].rolling(min_periods=1, window=21).min()) , train_data.s_21)

In [48]:
# Another useful transformation is to look for sudden spikes in sensor values
# This code creates a value indicating how far the current value is from the immediate norm


dfx['s_2_chg'] = np.where((train_data.s_2_mean == 0),0 , train_data.s_2/train_data.s_2_mean)
dfx['s_3_chg'] = np.where((train_data.s_3_mean == 0),0 , train_data.s_3/train_data.s_3_mean)
dfx['s_4_chg'] = np.where((train_data.s_4_mean == 0),0 , train_data.s_4/train_data.s_4_mean)

dfx['s_7_chg'] = np.where((train_data.s_7_mean == 0),0 , train_data.s_7/train_data.s_7_mean)
dfx['s_8_chg'] = np.where((train_data.s_8_mean == 0),0 , train_data.s_8/train_data.s_8_mean)
dfx['s_9_chg'] = np.where((train_data.s_9_mean == 0),0 , train_data.s_9/train_data.s_9_mean)

dfx['s_11_chg'] = np.where((train_data.s_11_mean == 0),0 , train_data.s_11/train_data.s_11_mean)
dfx['s_12_chg'] = np.where((train_data.s_12_mean == 0),0 , train_data.s_12/train_data.s_12_mean)
dfx['s_13_chg'] = np.where((train_data.s_13_mean == 0),0 , train_data.s_13/train_data.s_13_mean)

dfx['s_14_chg'] = np.where((train_data.s_14_mean == 0),0 , train_data.s_14/train_data.s_14_mean)
dfx['s_15_chg'] = np.where((train_data.s_15_mean == 0),0 , train_data.s_15/train_data.s_15_mean)
dfx['s_17_chg'] = np.where((train_data.s_17_mean == 0),0 , train_data.s_17/train_data.s_17_mean)

dfx['s_20_chg'] = np.where((train_data.s_20_mean == 0),0 , train_data.s_20/train_data.s_20_mean)
dfx['s_21_chg'] = np.where((train_data.s_21_mean == 0),0 , train_data.s_21/train_data.s_21_mean)



#copy the data set to the original name
train_data=dfx

In [49]:
print(train_data.head(6))

   asset_id  run_time  setting_1  setting_2  setting_3     s_1     s_2  \
0         1         1    -0.0007    -0.0004      100.0  518.67  641.82
1         1         2     0.0019    -0.0003      100.0  518.67  642.15
2         1         3    -0.0043     0.0003      100.0  518.67  642.35
3         1         4     0.0007     0.0000      100.0  518.67  642.35
4         1         5    -0.0019    -0.0002      100.0  518.67  642.37
5         1         6    -0.0043    -0.0001      100.0  518.67  642.10

       s_3      s_4    s_5  ...   s_8_chg   s_9_chg  s_11_chg  s_12_chg  \
0  1589.70  1400.60  14.62  ...  1.000000  1.000000  1.000000  1.000000
1  1591.82  1403.14  14.62  ...  0.999996  0.999883  1.000211  1.000594
2  1587.99  1404.20  14.62  ...  1.000008  1.000575  0.997047  1.000575
3  1582.79  1401.87  14.62  ...  1.000016  1.000145  0.995564  1.001063
4  1582.85  1406.22  14.62  ...  0.999996  1.000617  0.998986  0.999824
5  1584.47  1398.37  14.62  ...  0.999983  1.000010  0.997040  0.999039

   s_13_chg  s_14_chg  s_15_chg  s_17_chg  s_20_chg  s_21_chg
0  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1  1.000010  0.999562  1.000730  1.000000  0.999231  1.000098
2  0.999996  0.999850  0.999379  0.996593  0.998633  0.997803
3  1.000013  0.999943  0.995110  1.001277  0.997627  0.999304
4  0.999997  0.999952  1.001909  1.003063  0.998511  1.000486
5  0.999994  0.999862  0.999748  0.998298  1.000471  0.999069

[6 rows x 99 columns]

In [50]:

train_data['s_17'] = train_data.s_17.astype(float)

In [51]:
# train_data['coming'].astype('float64')

train_data['coming'] = train_data.coming.astype(float)

In [52]:
# Dealing with the small number of failures
# sea above 30

# SMOTE the train_data

In [53]:
train_data['s_17'].astype(np.float64)

0        392.0
1        392.0
2        390.0
3        392.0
4        393.0
         ...
20626    397.0
20627    395.0
20628    398.0
20629    395.0
20630    396.0
Name: s_17, Length: 20631, dtype: float64

In [54]:
# 
# train_data[['s_2','s_3','s_4','s_7','s_8','s_9','s_11','s_12','s_13','s_14','s_15','s_17','s_20','s_21']].astype(float)

In [55]:
#train_data['coming'].astype('float64')

# 
# train_data['coming'].astype(float)

In [56]:
training_features=train_data[['s_2','s_3','s_4','s_7','s_8','s_9','s_11','s_12','s_13','s_14','s_15','s_17','s_20','s_21']]

training_target=train_data[['coming']]

In [57]:
pd.DataFrame(training_features).dtypes

s_2     float64
s_3     float64
s_4     float64
s_7     float64
s_8     float64
s_9     float64
s_11    float64
s_12    float64
s_13    float64
s_14    float64
s_15    float64
s_17    float64
s_20    float64
s_21    float64
dtype: object

In [58]:
training_features.astype(float)

,s_2,s_3,s_4,s_7,s_8,s_9,s_11,s_12,s_13,s_14,s_15,s_17,s_20,s_21
0,641.82,1589.70,1400.60,554.36,2388.06,9046.19,47.47,521.66,2388.02,8138.62,8.4195,392.0,39.06,23.4190
1,642.15,1591.82,1403.14,553.75,2388.04,9044.07,47.49,522.28,2388.07,8131.49,8.4318,392.0,39.00,23.4236
2,642.35,1587.99,1404.20,554.26,2388.08,9052.94,47.27,522.42,2388.03,8133.23,8.4178,390.0,38.95,23.3442
3,642.35,1582.79,1401.87,554.45,2388.11,9049.48,47.13,522.86,2388.08,8133.83,8.3682,392.0,38.88,23.3739
4,642.37,1582.85,1406.22,554.00,2388.06,9055.15,47.28,522.19,2388.04,8133.80,8.4294,393.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,643.49,1597.98,1428.63,551.43,2388.19,9065.52,48.07,519.49,2388.26,8137.60,8.4956,397.0,38.49,22.9735
20627,643.54,1604.50,1433.58,550.86,2388.23,9065.11,48.04,519.68,2388.22,8136.50,8.5139,395.0,38.30,23.1594
20628,643.42,1602.46,1428.18,550.94,2388.24,9065.90,48.09,520.01,2388.24,8141.05,8.5646,398.0,38.44,22.9333
20629,643.23,1605.26,1426.53,550.68,2388.25,9073.72,48.39,519.67,2388.23,8139.29,8.5389,395.0,38.29,23.0640
20630,643.85,1600.38,1432.14,550.79,2388.26,9061.48,48.20,519.30,2388.26,8137.33,8.5036,396.0,38.37,23.0522

In [59]:
training_features.dtypes

s_2     float64
s_3     float64
s_4     float64
s_7     float64
s_8     float64
s_9     float64
s_11    float64
s_12    float64
s_13    float64
s_14    float64
s_15    float64
s_17    float64
s_20    float64
s_21    float64
dtype: object

In [60]:
training_target.dtypes

coming    float64
dtype: object

In [61]:
# 

#train_data=train_data.drop(columns=['index'])
#train_data=train_data.sort_values(by=['asset_id', 'run_time'], ascending=[True, True])
#train_data.reset_index(inplace=True)

In [62]:
from imblearn.over_sampling import SMOTE
#from imblearn.over_sampling import SMOTENC
# 
sm = SMOTE(random_state=12)
#smx = SMOTENC(random_state=12,  categorical_features=[0, 1, 2, 3])

X_res, y_res = sm.fit_resample(training_features, training_target) #.values.ravel()

KeyError: "None of [Int64Index([ 781, 1476,  669,  700,  957,  235, 1146, 1633, 1579, 1863,\n            ...\n             535, 1392, 1011, 1801,  290, 1401,  118, 1789,  264,   12],\n           dtype='int64', length=16431)] are in the [columns]"

In [ ]:
from sklearn import preprocessing

non_numeric_features=['Embarked','Sex','Title','Age','Fare','Deck']

for feature in non_numeric_features:
    df_all[feature]=preprocessing.LabelEncoder().fit_transform(df_all[feature])
    

cat_features=['Pclass','Sex','Embarked','Title','Deck','Family_size_bin','Age','Fare'] ############################################################3
    
encoded_features=[]

for feature in cat_features:
    encoded_feat=preprocessing.OneHotEncoder().fit_transform(df_all[feature].values.reshape(-1,1)).toarray()
    n=df_all[feature].nunique()
    cols=['{}_{}'.format(feature,n) for n in range(1,n+1)]
    encoded_df=pd.DataFrame(encoded_feat,columns=cols)
    encoded_df.index=df_all.index
    encoded_features.append(encoded_df)

df_all=pd.concat([df_all,*encoded_features],axis=1)

In [ ]:
# Merge START_DATE to the original data set
train_data=train_data.sort_values(by=['asset_id', 'run_time'], ascending=[True, True])
starter=starter.sort_values(by=['ID'], ascending=[True])
dfx =dfx.merge(starter, on=['ID'], how='left')

# calculate the number of cycles since the beginning of each well. 
train_data['27'] = train_data['run_time'] - train_data['START_DATE']
dfx['TIME_SINCE_START'] = dfx['C'] / np.timedelta64(1, 'D')
dfx=dfx.drop(columns=['C'])
dfx['too_soon'] = np.where((dfx.TIME_SINCE_START < 21) , 1, 0)

In [ ]:
###JHU first we take a look at our data, df.shape and then
###JHU we trying to fillin the nulls, data preparing process

print("missing_values_in_train_data")
display(train_data.isnull().sum())
print("missing_value_in_test_data")
display(test_data.isnull().sum())

In [ ]:

def concat_df(train_data,test_data):
    return pd.concat([train_data,test_data],sort=True).reset_index(drop=True)

def divide_df(all_data):
    return all_data.loc[:20631],all_data.loc[20632:]

In [ ]:
df_all=concat_df(train_data,test_data)

In [ ]:
#### 2 data cleansing 
### 2.1 Age

In [ ]:
print("missing_age_values_in_total_data_set: "+str(df_all['Age'].isnull().sum()))
print("missing_percentage: "+str(round(df_all['Age'].isnull().sum()/len(df_all)*100,0))+" %")

In [ ]:
###JHU
import seaborn as sb

train_data['Age'].plot.hist(alpha=0.4)

###JHU we can see a un-normal distribution, since we lost many Age values
###JHU does that affect our job? should we fillin more young aged data???

In [ ]:
###JHU
train_data.pivot(columns='Pclass').Age.plot(kind='hist',stacked=True,alpha=0.4)

In [ ]:
###JHU
train_data.groupby(['Pclass'])['Age'].plot.hist(alpha=0.4,stacked=True,legend=True)

In [ ]:
###JHU

sb.histplot(data=train_data,x="Age",hue="Pclass",multiple="stack",alpha=0.4)

In [ ]:
print('median_for_Age_seperated_by_Pclass:')
display(train_data.groupby('Pclass')['Age'].median())

print('median_for_Age_seperated_by_Pclass_and_Sex:')
display(train_data.groupby(['Pclass','Sex'])['Age'].median())

print('bumber_of_cases:')
display(train_data.groupby(['Pclass','Sex'])['Age'].count())     #not value_counts

In [ ]:
#replace the missing value with the medians of each group
###JHU learn the way to fill the null values in the dataset###

df_all['Age']=df_all.groupby(['Pclass','Sex'])['Age'].apply(lambda x:x.fillna(x.median()))
df_all.sample(1)

In [ ]:
#### 2 data cleansing 
### 2.2 Fare

In [ ]:
df_all.loc[df_all['Fare'].isnull()]

In [ ]:
#loc cases which are similiar to Mr.Thomas and use the median of fare to replace the missing for his data set
mr_thomas=df_all.loc[(df_all['Pclass']==3)&(df_all['SibSp']==0)&(df_all['Embarked']=='S')]['Fare'].median()       ################################################################
print(mr_thomas)

#
df_all.loc[df_all['Fare'].isnull(),'Fare']=mr_thomas

###JHU anywany we can wrote it more simple?

In [ ]:
#### 2 data cleansing 
### 2.3 Cabin

In [ ]:
display(train_data['Cabin'].unique())
print('there_are '+str(train_data['Cabin'].nunique())+' different_values_for_Cabin_and ' +str(train_data['Cabin'].isnull().sum())+' cases_are_missing')

In [ ]:

##print(train_data[train_data['Cabin'].isnull()])
#Then for removing all non-numeric values use to_numeric with parameter errors='coerce' - to replace non-numeric values to NaNs:
##train_data['Cabin'] = pd.to_numeric(train_data['Cabin'], errors='coerce')
#And for remove all rows with NaNs in column x use dropna:
##train_data = train_data.dropna(subset=['Cabin'])
#Last convert values to ints:
##train_data['Cabin'] = train_data['Cabin'].astype(int)


#for dataset in df_all:
    #dataset['Cabin'] = dataset['Cabin'].astype('int').str.slice(0,1)
    #dataset['Cabin']=dataset['Cabin'].apply(lambda s:s[0] if pd.notnull(s) else s).astype(int)
#str.slice(0,1)
#df['purchase'].astype(str).astype(int)

#df_all['Cabin']=df_all.groupby(['Pclass','Fare'])['Cabin'].apply(lambda s:s[0] if pd.notnull(s) else s)


#train_data.Cabin = train_data.Cabin.astype(int) 
#train_data.info()

In [ ]:
#keep all first letters of Cabin in new variable and use "M" for each missing
#####################################################################################################################################

df_all['Deck']=df_all['Cabin'].apply(lambda s:s[0] if pd.notnull(s) else s)

#df_all['Deck']=df_all['Cabin'].apply(lambda s:s[0] if pd.notnull(s) else df_all.groupby(['Pclass','Fare'])['Cabin'].median())
#df_all['Deck']=df_all(['Pclass','Fare'])['Cabin'].apply(lambda s:s[0] if pd.notnull(s) else 'M')

print(df_all.sample(3))     #####################################################
import matplotlib.pyplot as pl

df_all.groupby('Deck')['Survived'].count().plot(kind='bar')
pl.suptitle('Count_for_different_Deck')


#df_all[['Deck','Survived']].groupby('Deck')['Survived'].mean().plot(kind='bar')
#pl.suptitle('Survival_rates_for_different_cabines')

In [ ]:
df_all.groupby('Deck')['Survived'].mean().plot(kind='bar')
pl.suptitle('Survival_mean_for_different_Deck')

In [ ]:
############################################################################################################################# cut Fare feature into sever bins
#df_all_1=df_all
#df_all_1['Fare']=pd.cut(df_all_1['Fare'],5,labels=["<102","<204","<307","<409","<512"])

#df_all_1['Fare'].value_counts()

#df_all_1.groupby('Fare')['Survived'].count().plot(kind='bar')

In [ ]:
############################################################################################################################
#df_all['Fare'] = df_all['Fare'].astype(str)
df_all.boxplot(column=['Fare'])   ###,figsize=(15,7))

In [ ]:
df_all['Fare']=pd.qcut(df_all['Fare'],5,labels=["<7.8","<10.5","<21.5","<41.5","<512.3"])
###JHU change the orignal ,labels=["<7.8","<10.5","<21.5","<41.5","<512.3"] to ,labels=["<102","<204","<307","<409","<512"]

df_all.groupby('Fare')['Fare'].count().plot(kind='bar')

# map letters to numbers so we could do mathematical operations, then we'll convert back to letters
deck_dict = {'A': 1,
'B': 2,
'C': 3,
'D': 4,
'E': 5,
'F': 6,
'G': 7,
'T': 8
}
df_all['Deck'] = df_all['Deck'].map(deck_dict)    ###############################################

# group by Pclass and Fare and make the median
median_deck = df_all.groupby(['Pclass','Fare'])  ##############################################
median_deck['Deck'].median()

In [ ]:
##############################################################################################################################

#df_all['Fare'] = df_all['Fare'].astype(str)
df_all.boxplot(column=['Age'])###,figsize=(15,7))

In [ ]:
############################################################################################################################## Groupby Pclass Age

df_all['Age']=pd.cut(df_all['Age'],5,labels=["<16","<32","<48","<64","<80"])

# group by Pclass and Fare and make the median
median_deck_2 = df_all.groupby(['Pclass','Age'])
median_deck_2['Deck'].median()

df_all.info()

In [ ]:
############################################################################################################################### Fillin Cabin based on Pclass Fare

# Fill up the NaNs for the cabin based on the grouping above
df_all['Deck'] = median_deck['Deck'].transform(lambda x: x.fillna(x.median()))

df_all.info()

In [ ]:
print('null_value_in_Deck_column')
df_all['Deck'].isnull().sum()

In [ ]:

df_all.groupby('Deck')['Deck'].count().plot(kind='bar')
pl.suptitle('Count_for_different_Deck_after_fillin_operation')

###JHU Same As below code
#df_all.groupby('Deck')['Survived'].count().plot(kind='bar')

In [ ]:
################################################################    6  7 

df_all.groupby('Deck')['Survived'].mean().plot(kind='bar')
pl.suptitle('Survival_mean_for_different_Deck_after_fillin_operation')

In [ ]:

df_all.groupby('Fare')['Survived'].mean().plot(kind='bar')
pl.suptitle('Count_for_different_Fare_Group')

In [ ]:

df_all.groupby('Fare')['Fare'].count().plot(kind='bar')
pl.suptitle('Count_for_different_Fare_Group')

In [ ]:
display(df_all.head(5))

In [ ]:
################################################################################################################################## trying median not mean

df_all['Deck'] = df_all['Deck'].fillna(1)
df_all.groupby('Deck')['Survived'].mean().plot(kind='bar',alpha=0.4,legend=True)

In [ ]:
df_all.info()

In [ ]:
# revert back to letters
deck_letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T']
df_all['Deck'] = df_all['Deck'].apply(lambda x: deck_letters[int(x - 1)])      ######################################################
df_all.head()

In [ ]:
df_all.info()

In [ ]:
############################################# not use

#idx=df_all[df_all['Deck']=='T'].index
#df_all.loc[idx,'Deck']='A'

###JHU maybe we can category Deck based on the Survival_rate in above chart???

#
#df_all['Deck']=df_all['Deck'].replace(['E','B','C'],'EBC')
#df_all['Deck']=df_all['Deck'].replace(['D','A'],'DA')
#df_all['Deck']=df_all['Deck'].replace(['F','G','T'],'FGT')

df_all['Deck'].value_counts()                ################################################################   .value_counts

In [ ]:
#### 2 data cleansing 
### 2.4 Embarked

In [ ]:
df_all.loc[df_all['Embarked'].isnull()]

In [ ]:
#check for passengers who were in passenger class 1, on deck abc and paid 80 or less for the tickets
#df_all.loc[(df_all['Pclass']==1)&(df_all['Fare']<=80)&(df_all['Deck']=='ABC')]['Embarked'].value_counts()

#not needed any more cause we can Google the value S

In [ ]:
###JHU data 'S' were Google checked, no relationship with above figures

df_all.loc[df_all['Embarked'].isnull(),'Embarked']='S'

In [ ]:
#### 2 data cleansing 
### 2.5 Conclusion

In [ ]:
print("missing_in_all_data")
display(df_all.isnull().sum())

In [ ]:
print("missing_in_train_data")
train_data.isnull().sum()

###JHU why still keeps null Age values in train_data, since we have replaced
###median Age value by Pclass and Sex in df_all???

In [ ]:
#### 3 feature engineering 
### 3.1 Binning

In [ ]:
#################################################################################################################################

df_all.info()

In [ ]:
################################################################################################################################# Borrowed to above binning

#df_all['Fare'] = df_all['Fare'].astype(str)
#df_all.boxplot(column=['Fare'])###,figsize=(15,7))

In [ ]:
###JHU

sb.histplot(data=df_all,x="Fare",alpha=0.4)

In [ ]:
################################################################################################################################# Borrowed to above binning

#df_all.boxplot(column=['Age'])

In [ ]:
###JHU

sb.histplot(data=df_all,x="Age",alpha=0.4)

In [ ]:
###df_all['Fare']=pd.qcut(df_all['Fare'],5)   #### we must run this first to get
###the label range then use label parameter to distribute into the bins

#df_all['Fare']=pd.qcut(df_all['Fare'],5,labels=["<7.8","<10.5","<21.5","<41.5","<512.3"])

#df_all['Age']=pd.cut(df_all['Age'],5,labels=["<16","<32","<48","<64","<80"])

print("For_Age,_each_category_has_a_different_number_of_cases:")
df_all['Age'].value_counts()

In [ ]:
print("For_Fare,_each_category_has_nearly_a_same_number_of_cases:")
df_all['Fare'].value_counts()      ###########################################################################################################

In [ ]:
###JHU
df_all[['Age','Survived']].sample(5)

In [ ]:
#
df_all[['Age','Survived']].groupby('Age')['Survived'].mean()

#df_all.groupby('Age')['Survived'].mean()

In [ ]:
#
df_all[['Fare','Survived']].groupby('Fare')['Survived'].mean()

#df_all.groupby('Fare')['Survived'].mean()

In [ ]:
#
df_all[['Age','Survived']].groupby('Age')['Survived'].mean().plot(kind='bar',alpha=0.4)
pl.suptitle('Survival_rates_for_Age_categories')

#
#df_all.groupby('Age')['Survived'].mean().plot(kind='bar',alpha=0.4)
#pl.suptitle('Survival_rates_for_Age_categories')

In [ ]:
#
df_all[['Fare','Survived']].groupby('Fare')['Survived'].mean().plot(kind='bar',alpha=0.4)
pl.suptitle('Survivel_rate_for_Fare_categories')

#
#df_all.groupby('Fare')['Survived'].mean().plot(kind='bar',alpha=0.4)
#pl.suptitle('Survivel_rate_for_Fare_categories')

In [ ]:
#### 3.2 Creat new features out of existing variables 
### Family Size

###JHU why we do it this way, i see no logic between SibSp or Parch with 
###JHU Family_size, and Family_size will not effect the Survival_rate of 
###JHU individual

In [ ]:
#
df_all['Family_size']=df_all['SibSp']+df_all['Parch']+1
#
df_all['Family_size'].plot.hist(alpha=0.4)

In [ ]:
#
df_all['Family_size_bin']=df_all['Family_size'].map(lambda s:1 if s==1 else(2 if s==2 else(3 if 3<=s<=4 else(4 if s>=5 else 0))))

#
df_all['Family_size_bin'].value_counts()

In [ ]:
#
df_all[['Family_size_bin','Survived']].groupby('Family_size_bin')['Survived'].mean().plot(kind='bar',alpha=0.4,title='Survival_mean_with_Family_size_bin')
#plt.xlabel('Family_size_bin')
#plt.ylabel('Survival_mean')

###############################################################################################################################################  pd plot with title
#boston_df['AGE'].plot.hist(title='Proportion of owner-occupied units built prior to 1940')

#
#df_all.groupby('Family_size_bin')['Survived'].mean().plot(kind='bar',alpha=0.4)

In [ ]:
#### 3 Creat new features out of existing variables
### Tickets

In [ ]:
#
df_all['Ticket_frequency']=df_all.groupby('Ticket')['Ticket'].transform('count')
#JHU count same Ticket_id number, why there are same id ticket? in same Cabin or???
#df_all['Ticket_frequency']=df_all.groupby('Ticket')['Ticket'].apply('count')

###JHU
df_all['Ticket_frequency'].sample(5)

In [ ]:
#df_all[['Ticket_frequency','Survived']].groupby('Ticket_frequency').mean()

df_all.groupby('Ticket_frequency')['Survived'].mean()

In [ ]:
#
#df_all[['Ticket_frequency','Survived']].groupby('Ticket_frequency')['Survived'].mean().plot(kind='bar',alpha=0.4)

df_all.groupby('Ticket_frequency')['Survived'].mean().plot(kind='bar',alpha=0.4)

In [ ]:
#### 3.2 Creat new features out of existing variables 
### Title

In [ ]:
###JHU

df_all.sample(5)

In [ ]:
##########################################################################################################################   get the Mr out of whole string value

df_all['Title']=df_all['Name'].str.split(', ',expand=True)[1].str.split('.',expand=True)[0]

df_all['Is_married']=0
df_all['Is_married'].loc[df_all['Title']=='Mrs']=1   ################################################################# we dont need this married or not feature

df_all.info()

In [ ]:
###JHU

df_all['Title'].unique()

In [ ]:

df_all['Title'].value_counts()

In [ ]:
########################################################################################################################################### true or false feedback ??????

title_names=(df_all['Title'].value_counts()<10)

df_all['Title']=df_all['Title'].apply(lambda x:'Mice' if title_names.loc[x]==True else x)

df_all.groupby('Title')['Title'].count()

In [ ]:
###JHU
df_all[['Title','Survived']].groupby('Title')['Survived'].mean().plot(kind='bar',alpha=0.4)

#df_all.groupby('Title')['Survived'].mean().plot(kind='bar',alpha=0.4)

In [ ]:
#### 3 Creat new features out of existing variables 
### Survival Rates

In [ ]:

df_all.head(3)

In [ ]:
import string

def extract_surname(data):
    families=[]
    for i in range(len(data)):
        name=data.iloc[i]
        if '(' in name:
            name_no_bracket=name.split('(')[0]
        else:
            name_no_bracket=name   # redundant code 
        family=name_no_bracket.split(',')[0]
        #title=name_no_bracket.split(',')[1].strip().split(' ')[0]    #JHU not necessary code
        #for c in string.punctuation:
            #family=family.replace(c,'').strip()
        families.append(family)
    return families

df_all['Family']=extract_surname(df_all['Name'])

In [ ]:
df_all['Family'].nunique()

In [ ]:
df_all['Family'].head(5)

In [ ]:
df_all[['Title','Survived','Family_size']].groupby('Title').mean()

###JHU THINK & PRACTICE

In [ ]:
print("Survival_rates_grouped_by_families_of_women_in_dataset:")
#df_all.loc[(df_all['Sex']=='female')&(df_all['Family_size']>1)].groupby('Family')['Survived'].mean().plot.hist(alpha=0.4)

###################################################################################################################################################### less children ones survive
df_all.loc[(df_all['Sex']=='female')&(df_all['Family_size']>1)].groupby('Family_size')['Survived'].mean().plot(kind='bar',alpha=0.4)

#df.loc[(df['First_name'] != 'Bill') & (df['First_name'] != 'Emma'), 'name_match'] = 'Mismatch'     #'name_mach' is new named column

#df_all[(df_all['Sex']=='female')&(df_all['Family_size']>1)].groupby('Family')['Survived'].mean().plot.hist(alpha=0.4)

In [ ]:
#
master_families=df_all[df_all['Title']=='Master']['Family'].tolist()
#df_all.loc[df_all['Family'].isin(master_families)].groupby('Family_size')['Survived'].mean().plot.hist(alpha=0.4)

############################################################################################################################################# pointless Master family  drop
df_all.loc[(df_all['Title']=='Master')].groupby('Family_size')['Survived'].mean().plot(kind='bar',alpha=0.4)

In [ ]:

df_all.head(1)

In [ ]:
#Create variables with the survival rate of the women and masters

############################################################################################################################################ borrowed below
women_rate=df_all.loc[(df_all['Sex']=='female')&(df_all['Family_size']>1)].groupby('Family')['Survived'].mean()
#
#master_rate=df_all.loc[df_all['Family'].isin(master_families)].groupby('Family')['Survived'].mean()     ###JHU we should remove column 7 and to use it seperately if we insist 

#Combine two series
#combined_rate=women_rate.append(master_rate)

#It is posible that a woman has the family as a master and vice versa, so duplicates have to been dropped
#combined_rate_df=combined_rate.to_frame().reset_index().rename(columns={'Survived':'Survival_quota'}).drop_duplicates(subset='Family')
#
combined_rate_df=women_rate.to_frame().reset_index().rename(columns={'Survived':'Survival_quota'}).drop_duplicates(subset='Family')      ###################?????????????  


#Merge the new dataframe
df_all=pd.merge(df_all,combined_rate_df,how='left')     ###################?????????????    or not use women rate too???

In [ ]:
#########################################################################################################################################################
#JHU use mother_rate no other master mother or something        my poor code capability.........

#mother_rate_1=df_all.loc[(df_all['Sex']=='female')&(df_all['Family_size']>1)&(df_all['Family_size']<=4)].groupby('Family')['Survived'].mean()
#mother_rate_2=df_all.loc[(df_all['Sex']=='female')&(df_all['Family_size']>4)&(df_all['Family_size']<=7)].groupby('Family')['Survived'].mean()
#mother_rate_3=df_all.loc[(df_all['Sex']=='female')&(df_all['Family_size']>7)].groupby('Family')['Survived'].mean()

#df_all=pd.merge(df_all,mother_rate_1,mother_rate_2,mother_rate_3,how='left')

In [ ]:
df_all_1=pd.merge(df_all,women_rate,how='left')
df_all.head(1)

In [ ]:
#We have calculated a survival rate for only a part of the cases, the others 
#we set to 0 in the dummy variable

df_all['Survival_quota_NA']=1
df_all.loc[df_all['Survival_quota'].isnull(),'Survival_quota_NA']=0
df_all['Survival_quota']=df_all['Survival_quota'].fillna(0)

In [ ]:
#### 3.3 Label and One Hot Encoding

In [ ]:
print(df_all.head())

In [ ]:
from sklearn import preprocessing

non_numeric_features=['Embarked','Sex','Title','Age','Fare','Deck']

for feature in non_numeric_features:
    df_all[feature]=preprocessing.LabelEncoder().fit_transform(df_all[feature])
    

cat_features=['Pclass','Sex','Embarked','Title','Deck','Family_size_bin','Age','Fare'] ############################################################3
    
encoded_features=[]

for feature in cat_features:
    encoded_feat=preprocessing.OneHotEncoder().fit_transform(df_all[feature].values.reshape(-1,1)).toarray()
    n=df_all[feature].nunique()
    cols=['{}_{}'.format(feature,n) for n in range(1,n+1)]
    encoded_df=pd.DataFrame(encoded_feat,columns=cols)
    encoded_df.index=df_all.index
    encoded_features.append(encoded_df)

df_all=pd.concat([df_all,*encoded_features],axis=1)

In [ ]:
print(df_all.head())

In [ ]:
df_train,df_test=divide_df(df_all)

In [ ]:
#Defined columns which can be dropped for the modeling part because we 
#created new lable and one hot encoded variants out of them

drop_cols=['Embarked','Family','Survived','Family_size','Family_size_bin',
           'Deck','Age','Name','Parch','PassengerId','Pclass','Sex','SibSp',
           'Title','Ticket','Cabin']

drop_cols_2=['Embarked','Family','Family_size','Family_size_bin','Deck','Fare',
            'Name','Parch','PassengerId','Pclass','Sex','SibSp','Title',
             'Ticket','Cabin']

In [ ]:
#setting up a random forest classifier
#standardization of variables

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
###JHU from sklearn.preprocessing import StandardScaler

x=preprocessing.StandardScaler().fit_transform(df_train.drop(columns=drop_cols))    ###################
y=df_train['Survived'].values

x_test=preprocessing.StandardScaler().fit_transform(df_test.drop(columns=drop_cols_2))

#creating train, test splits
x_train,x_test1,y_train,y_test1=train_test_split(x,y,test_size=0.25,random_state=42)

#defining model parameters
model=RandomForestClassifier(criterion='gini',
                                          n_estimators=1750,
                                          max_depth=7,
                                          min_samples_split=6,
                                          min_samples_leaf=6,
                                          max_features="auto",
                                          oob_score=True,
                                          random_state=42,
                                          n_jobs=-1,
                                          verbose=1)

model.fit(x_train,y_train)
predictions=model.predict(x_test)
#print(model.score(x_test1,y_test1))
output=pd.DataFrame({'PassengerId':test_data.PassengerId,'Survived':predictions})
output['Survived']=output['Survived'].astype(int)
output.to_csv('2020_00_09_titanic_jjj.csv',index=False)
print(model.score(x_test1,y_test1))